@import url('https://fonts.googleapis.com/css?family=Hind:300,400,600');

$darkAccent: #C44944;
$darkShade: #333E54;
$mainColor: greenyellow;
$mainColorD: #75b023;
$mainColorII: #404040;
$lightShade: #f4f6f4;
$lightAccent: #e9ecef;
$border-color: rgba(192, 192, 192, 0.5);
$headers: #7f7f7f;

.shadow {
  -webkit-box-shadow: 0px 4px 10px -5px rgba(64, 64, 64, 0.7);
  -moz-box-shadow: 0px 4px 10px -5px rgba(64, 64, 64, 0.7);
  box-shadow: 0px 4px 10px -5px rgba(64, 64, 64, 0.7);
}

//.shadow {
//  -webkit-box-shadow: -4px 4px 2px 0 rgba(0, 0, 0, 0.3);
//  -moz-box-shadow: -4px 4px 2px 0 rgba(0, 0, 0, 0.3);
//  box-shadow: -4px 4px 2px 0 rgba(0, 0, 0, 0.3);
//}

body {
  //font-family: 'Hind', sans-serif;
  font-size: 14px !important;
  line-height: 1.4;
  transition: all 0.5s;
}

.form-control-sm,
.form-control-sm:focus {
  background-color: #fff;
  border: 1px solid $border-color;
  //border-bottom: 1px solid #b2b2b2;

  border-radius: 0;
  //text-align: center;
}

.left {
  position: absolute;
  left: 0;
}

.right {
  position: absolute;
  right: 0;
}

button, button:focus {
  outline: none;
}

.btn-sm {
  font-size: 0.825rem !important;
}

.btn {
  outline: none;
  border-radius: 0 !important;
  text-decoration: none;
  transition: all 0.15s ease-in-out;
}

.btn-custom {
  background-color: $mainColor;
  color: $darkShade;
}

.btn-custom:hover {
  background-color: $mainColorD;
  color: #fff;
}

.badge-custom {
  color: $mainColorII;
  background-color: $mainColor;
  border-radius: 50px;
}

.btn-outline-custom {
  background-color: transparent;
  background-image: none;
  border-color: $mainColor;
  color: $lightShade;
}

.btn-outline-custom:hover {
  background: $mainColorD;
  color: $lightShade;

  transition: all 0.5s;
}

.card {
  border-radius: 0;
}

.breadcrumb {
  padding: 0.25rem 1.25rem;
  background-color: #fff;
  border: 1px solid $border-color;
  border-radius: 0;

  a {
    color: $mainColorII;
    font-size: 0.85rem;
  }
}

.breadcrumb-item.active {
  color: #adadad;
}

.breadcrumb-item + .breadcrumb-item::before {
  display: inline-block;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  color: #adadad;
  content: ">";
}

/**
/*	Preloader
/* ==========================================*/
.spinner-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $lightShade;
  z-index: 1050;
}

.spinner {
  height: 50px;
  width: 50px;
  margin-left: -15px;
  margin-top: -15px;
  position: absolute;
  top: 50%;
  left: 50%;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: $darkShade;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% {
    -webkit-transform: scale(0.0)
  }
  50% {
    -webkit-transform: scale(1.0)
  }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  }
  50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

/********************************/
/*          Top header          */
/********************************/
#info-header {
  min-height: 2.125rem;
  background-color: $lightShade;
  color: $mainColorII;
  font-size: 0.8rem;

  a, a:active a:focus {
    outline: none;
    text-decoration: none;
    color: inherit;
    transition: all 0.4s;
  }
  a:hover {
    color: $mainColorD;
  }

  ul.support {
    padding: 0;
    margin: 0;

    li {
      text-align-all: center;
      list-style: none;
      display: inline-block;
      padding: 0.5rem 0.5rem;
    }
  }
}

#slider {
  /********************************/
  /*       Fade Bs-carousel       */
  /********************************/
  .carousel-fade {
    position: relative;
    height: 100vh;
    .carousel-inner {
      .item {
        height: 100vh;
      }
    }
    .carousel-indicators {
      li {
        width: 10px;
        height: 10px;
        border-radius: 100%;
        margin: 0 2px;
        border: 2px solid $mainColor;
        background-color: transparent;
        opacity: .5;
      }

      li.active {
        width: 10px;
        height: 10px;
        border-radius: 100%;
        opacity: 1;
      }
    }
  }

  /********************************/
  /*          Slide Captions      */
  /********************************/
  .caption {
    width: 980px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    color: $lightShade;
    text-align: center;
    text-transform: uppercase;
    //text-shadow: 1px 1px 0 rgba(0, 0, 0, .75);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    h1 {
      font-size: 6em;
      font-weight: bold;
      margin: 0;
      padding: 0;
      -webkit-animation-name: zoomIn;
      -webkit-animation-duration: 1s;
      -webkit-animation-fill-mode: both;
      -webkit-animation-delay: 1s;
      -moz-animation-name: zoomIn;
      -moz-animation-duration: 1s;
      -moz-animation-fill-mode: both;
      -moz-animation-delay: 1s;
    }
    p {

      -webkit-animation-name: fadeInDown;
      -webkit-animation-duration: 1s;
      -webkit-animation-fill-mode: both;
      -webkit-animation-delay: 2s;
      -moz-animation-name: fadeInDown;
      -moz-animation-duration: 1s;
      -moz-animation-fill-mode: both;
      -moz-animation-delay: 2s;
      font-weight: 300;
      //font-size: 0.95rem;
    }
    a {
      -webkit-animation-name: fadeInUp;
      -webkit-animation-duration: 1s;
      -webkit-animation-fill-mode: both;
      -webkit-animation-delay: 2s;
      -moz-animation-name: fadeInUp;
      -moz-animation-duration: 1s;
      -moz-animation-fill-mode: both;
      -moz-animation-delay: 2s;
    }
  }

  /********************************/
  /*            Overlay           */
  /********************************/
  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #080d15;
    opacity: .4;
  }

  /********************************/
  /*       Slides backgrounds     */
  /********************************/
  .slides {
    .slide-1,
    .slide-2,
    .slide-3 {
      height: 100vh;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
    .slide-1 {
      background-image: url("/img/hen.jpeg");
    }
    .slide-2 {
      background-image: url("/img/catfish.jpeg");
    }
    .slide-3 {
      background-image: url("/img/small-chicks.jpeg");
    }
  }

  /********************************/
  /*          Media Queries       */
  /********************************/

  //@media screen and (min-width: 980px) {
  //  .caption {
  //    width: 980px;
  //  }
  //}

  @media screen and (max-width: 768px) {
    .caption {
      width: 640px;

    }
  }
  @media screen and (max-width: 640px) {
    .caption {
      width: 320px;

      //.btn-lg {
      //  padding: 0.25rem 0.5rem;
      //  font-size: 0.875rem;
      //  line-height: 1.5;
      //}

      h1 {
        font-size: 3rem;
      }
    }
  }
}

/********************************/
/*          Navigation          */
/********************************/

.fixed-top-custom {
  position: absolute;
  top: 2.125rem;
  //transition: top 1s;
}

.dropdown-menu {
  position: absolute;
  text-align: left;
  z-index: 1060;
  margin: 0.5rem 0.5rem;
  font-size: 0.85rem;
  min-width: 100%;
  color: $darkShade;
  list-style: none;
  background-color: $lightShade;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0;
  padding: 0.5rem 0.5rem;
}

.dropdown-item {
  padding: .55rem .55rem;
}

.dropdown-item:hover {
  //color: $darkAccent;
  //border-bottom: 0.1px solid $mainColorD;
  background-color: $lightShade;
}

#bg {
  background-size: cover;
  background-attachment: fixed;
  background: rgba(0, 0, 0, 0.5);
  color: $lightShade;
  text-align: center;
  transition: all 0.6s ease;

  a, a:hover a:focus {
    text-decoration: none;
    color: inherit;
  }

  .brand {
    font-weight: 500;
  }
  .toggler {
    background: transparent;
    border: 1px solid $mainColor;
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    color: $lightAccent;
    border-radius: 2rem;
    transition: all 0.6s;
  }
  .links {
    .nav-item {
      letter-spacing: 0.1px;
      text-transform: uppercase;
      margin: 0 0.5rem;
      font-weight: 300;
    }
    .nav-item:hover, .nav-item:focus {
      border-bottom: 1px solid $mainColor;
      color: $lightAccent;
      transition: all 0.3s;
    }
    .nav-link {
      padding: 0.5rem 0.25rem;

      #cartCount {
        position: relative;
        top: -8px;
      }

    }

  }
  .clicked {
    border-bottom: 1px solid $mainColor;
  }

}

/********************************/
/*          about us            */
/********************************/

#greeting-header {
  background: $lightShade;
  padding: 5rem 0;
  color: $mainColorII;
  border-bottom: 1px solid #bfbfbf;

  h1 {
    color: #7f7f7f;
    font-weight: 300;
    line-height: 1;
  }
  p {
    font-size: 0.95rem;
  }
}

/********************************/
/*          Products            */
/********************************/
#overall-products {
  background: $lightShade;
  color: $mainColorII;
  min-height: 200px;
  padding: 6rem 0 0 0;

  .header-content {
    border: 1px solid $border-color;
    background-color: #fff;
    padding: 1rem;
    margin-bottom: 1rem;
  }
  //
  .page-content {
    border: 1px solid $border-color;
    background-color: #fff;
    padding: 1rem;
  }

  .checkout-content {
    border-top: 1px solid $border-color;
    padding: 2rem 0;

    .table {
      td {
        border: none;
        //padding: 0.5rem 0;
      }
    }
  }

  .checkout {

    li {
      -webkit-flex: 1; /* Safari 6.1+ */
      -ms-flex: 1; /* IE 10 */
      flex: 1;
      text-align: center;
      padding: 1rem 1.25rem;
      border-radius: 0;
    }
    a {
      color: $darkShade;
      font-weight: bold;
    }

    .active {
      background-color: $mainColor;
      color: $lightShade;
    }

  }

  ul.category-list {
    list-style: none;
    padding: 0;

    li {
      margin-bottom: 0.25rem;
    }

    a {
      padding: 0.25rem 0.25rem;
      padding-left: 1rem;
      color: $headers;
      display: block;
      text-decoration: none;
      //font-size: 0.9rem;
      font-weight: bold;
    }

    a:hover {
      background-color: $border-color;
    }

  }

  .category {
    font-weight: bolder;
    color: $mainColorD;
    text-transform: uppercase;
  }

  h3, h4, h6 {
    font-weight: bolder;
    line-height: 1;
  }

  img {
    margin-bottom: 1rem;
    width: 100%;
  }

  .products-list {
    text-align: center;
    border: 1px solid $border-color;
    margin: 1rem 0;
    background-color: #fff;

    p {
      font-size: 0.85rem;
    }

  }

  /********************************/
  /*          Cart                */
  /********************************/

  .order-summ {
    td:first-child {
      font-size: 0.85rem;
    }
    p {
      //font-size: 0.95rem;
    }
    td:last-child {
      font-weight: bolder;
      font-size: 0.85rem;

    }
  }
}

.print-content {

  padding: 2rem !important;
  table {
    td {
      border: none;

    }
  }

}

/********************************/
/*    Products-categories       */
/********************************/

#product-categories {
  color: #8f8f8f;
  padding-bottom: 3rem;
  background-color: $mainColorII;

  .pdt-header {

    padding: 3rem 0;

    h3 {
      text-transform: uppercase;
      padding: 3rem 0;
      font-weight: 300;
      line-height: 1;
    }
  }

  .card {
    color: #7f7f7f;
    border: none;
    background: $lightShade;

    h3 {
      margin-bottom: 0 !important;
      font-weight: 300;
    }
    p {
      font-size: 0.95rem;
    }
  }
}

/********************************/
/*          Services            */
/********************************/
#services {
  background-color: $lightShade;
  color: #8f8f8f;
  padding-bottom: 3rem;

  .services-header {
    padding: 3rem 0;

    h3 {
      text-transform: uppercase;
      color: #7f7f7f;
      font-weight: 300;
      line-height: 1;
    }
  }

  h3 {
    font-weight: 300;
  }
  p {
    font-size: 0.95rem;
  }
  .card {
    color: #7f7f7f;
    background-color: transparent;
    border: none;
    border-radius: 0;

    .card-header {
      h3 {
        font-size: 1.5rem;
      }
      padding: 0.2rem 1rem;
      margin-bottom: 0;
      background-color: transparent;
      border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    }

  }
}

/***************************************/
/*          Testimonies and Promo      */
/**************************************/

#others {
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  background-color: $lightShade;
  color: $mainColorII;
  padding: 6rem 0;

  h3 {
    font-size: 1.5rem;
    font-weight: 300;
  }
  p {
    font-size: 0.95rem;
  }
  .remark {
    min-height: 15rem;
    border: 1px solid $darkShade;
    padding: 0.25rem 1rem;

    .carousel {
      margin-bottom: 5rem;

      /* Since positioning the image, we need to help out the caption */
      .carousel-caption {
        bottom: 0;
        color: $mainColorII;
        p {
          font-size: 0.80rem;
          line-height: 0.85rem;
        }
      }
    }
    .remark-header {
      text-align: center;
      font-weight: 300;
      border-bottom: 1px solid $darkShade;
      //margin-bottom: 1rem;
    }
    .remark-body {
      font-size: 0.95rem;
      text-align: center;
      font-weight: 300;
      margin: 0.25rem 0;

      blockquote {
        p:before {
          color: $darkShade;
          font-family: "Bookman Old Style", Bookman, Garamond, serif;
          font-size: 2rem;
          content: '\201C';
        }
      }
    }

    .remark-footer {
      border-top: 1px solid $darkShade;
      p {
        color: $darkShade;
        font-size: 1rem;
        padding-top: 0.25rem;
        display: inline-block;
        font-style: normal;
        text-transform: uppercase;
        letter-spacing: 4px;
      }
    }

  }

  .promo {
    min-height: 15rem;
    //height: 15rem;
    padding: 0.7rem 1rem;

    background-color: $darkShade;
    color: $lightShade;
    .promo-full {
      //margin: 10% auto;

      .promo-header {
        text-align: center;
        font-weight: 300;
        border-bottom: 1px solid $mainColor;
        margin-bottom: 1rem;
      }

      .promo-body {
        text-align: center;
        font-size: 0.95rem;
        font-weight: 300;
      }
      .promo-footer {
        text-align: center;
        border-top: 1px solid $mainColor;
        .cite {
          p {
            font-size: 1.25rem;
            padding-top: 0.25rem;
            display: inline-block;
            font-style: normal;
            text-transform: uppercase;
            letter-spacing: 4px;
          }
        }
      }
    }
  }
}

/********************************/
/*          Products Slides     */
/********************************/

#products-gallery {
  background-color: $lightShade;
  min-height: 5rem;
  padding: 0.125rem 0;

  h3 {
    text-transform: uppercase;
    color: #8f8f8f;
    padding: 1rem 0;
    font-weight: 300;
    line-height: 1;
  }

  img:hover {
    -webkit-animation-name: pulse;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    -moz-animation-name: pulse;
    -moz-animation-duration: 1s;
    -moz-animation-fill-mode: both;
  }
}

.order-history {
  border-bottom: 1px solid $border-color;
  padding: 0.75rem;
}
.order-history:hover {
  background-color: $mainColorD;
  color: #fff;
}

/********************************/
/*          Footer              */
/********************************/

#footer {
  text-align: center;
  background-color: $darkShade;
  color: $lightShade;
  min-height: 100px;
  //padding-top: 3rem;
  font-size: 0.85rem;
  //position: absolute;
  //bottom: 0;
  //width: 100%;

  .footer1 {
    padding: 3rem 0;
  }

  @media (max-width: 576px) {
    div[class*="col-"] {
      text-align: center !important;
      .d-flex {
        display: block !important;
      }
    }
    a {
      clear: both;
      text-align: center !important;
    }
    img {
      padding: 0.25rem;
    }
  }

  @media (min-width: 992px) {
    //font-size: 0.9em;
    text-align: center !important;
  }

  h3 {
    font-size: 1.5rem;
    font-weight: 300;
    padding-bottom: 0.25rem;
    border-bottom: 1px solid $mainColor;
  }

  a {
    color: inherit;
    text-decoration: none;
    transition: all 0.5s;
  }

  a:hover, a:focus {
    color: $lightAccent;
    padding: 2px;
    border-bottom: 1px solid $mainColor;
  }
  img:hover {
    text-decoration: none;
    -webkit-animation-name: headShake;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    -moz-animation-name: headShake;
    -moz-animation-duration: 0.5s;
    -moz-animation-fill-mode: both;
  }
  .menu-footer {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      padding: 0.25rem 0;
    }
  }
  .social {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      a {
        border: none !important;
      }
      display: inline-block;
      padding: 1rem 0.5rem;
    }
  }
}

/********************************/
/*          Footer Copyright    */
/********************************/
#copyright {
  min-height: 3rem;
  padding: 10px;
  width: 100%;
  font-size: 0.85rem;
  background-color: $darkShade;
  color: $lightShade;
  border-top: 1px solid $lightShade;
  p {
    margin: 0;
  }
  a {
    color: inherit;
  }

  @media (max-width: 576px) {
    div[class*="col-"] {
      text-align: center !important;
    }
    a {
      //clear: both;
      text-align: center !important;
    }

  }

  @media (min-width: 992px) {

    .design {
      p {
        float: right;
        font-size: 0.9em;
        text-align: center !important;
      }
    }
  }

}

/********************************/
/*      Scroll top button       */
/********************************/
.scrolltop {
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background: $mainColor;
  color: $darkShade;
  text-align: center;
  font-size: 24px;
  z-index: 1096;
}

.scrolltop:hover, .scrolltop:active, .scrolltop:focus {
  opacity: .60;
}

/*
* ===================================
* Media Queries
* ===================================
*/

//Laptops
@media screen and (min-width: 980px) {

}

//Mobile and Tablet
@media screen and (max-width: 767px) {

  .checkout {
    flex-direction: column;
  }
  .table-responsive {
    //width: 100%;
    ////display: table !important;
    //margin-bottom: 15px;
    //overflow-x: auto;
    //overflow-y: hidden;
    //-webkit-overflow-scrolling: touch;
    //-ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #ddd;
  }
}

@media print {
  body {
    visibility: hidden;
    #footer {
      display: none;
    }
  }

  #overall-products {

    visibility: visible;
  }

  #overall-orders {
    visibility: visible;
  }

  .print-content {
    table {
      td {
        border: none;
      }
    }
  }

}